
.wrap{
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    width: max-content;
    margin-bottom: 15px;
}

.text{

}
.me{
    padding: 7px;
    background-color: rgb(158, 255, 128);
    border-radius: 9px;
    width: max-content;
    margin-bottom: 15px;

}
